<div id="dashboard" class="dashboard page">
<div class="side-menu white">
    <div class="profile-image-x">
        <%= image_tag("https://media.creativemornings.com/uploads/user/avatar/49419/Bechtel_Profile_Square.jpg", :alt => "Health Chain") %>
        <div class="profile-info">
            <p><%= current_user.name rescue current_user.email%></p>
            <p class="email"><%= current_user.email %></p>
            <%= link_to "Profile Settings", edit_user_registration_path %>
        </div>
    </div>
    <div class="patient-info">
        <h2 class="txt-lvl-3 patient-info-title">Patient Info</h2>
        <p><strong>Last Visit: </strong>July 5, 2017</p>
        <p><strong>Last Visit: </strong>July 5, 2017</p>
        <p><strong>Last Visit: </strong>July 5, 2017</p>
        <p><strong>Last Visit: </strong>July 5, 2017</p>
        <p><strong>Last Visit: </strong>July 5, 2017</p>
        <div class="txt-center">
            <a href="#" class="full-details m-t-3">Full Details</a>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "full-details" %><br /><br />
        </div>
    </div>

</div>
    <div class="content">
        <div class="dash-nav white">
            <a href="#upcoming">Upcoming</a>
            <a href="#history" class="active">Patients History</a>
            <a href="#audience">Audience</a>
        </div>
        <div class="dash-sections">
        <div class="dash-section" id="upcoming">
                <h2 class="txt-lvl-4 dash-title">Upcoming</h2>
            </div>
            <div class="dash-section" id="audience">
                <h2 class="txt-lvl-4 dash-title">Audience</h2>
            </div>
            <div class="dash-section active" id="history">
                <h2 class="txt-lvl-4 dash-title">Patient's History</h2>
                <div class="visits">
                    <div class="single-visit">
                    <%= image_tag("https://dermamedical.co.uk/wp-content/uploads/2016/02/Juinior-doctor-.jpg", :alt => "Health Chain") %>
                        <div class="visit-info">
                            <p><strong>Name: </strong>Dr. Islam Reda</p>
                            <p><strong>Type: </strong>Private Docotr</p>
                        </div>
                        <div class="visit-details">
                        <p><strong>Visit Details:</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit tion ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                        </div>
                        <div class="visit-date">
                            20 / 2 / 2018
                            <i class="zmdi zmdi-circle"></i>
                        </div>
                    </div>
                    <div class="single-visit">
                    <%= image_tag("https://dermamedical.co.uk/wp-content/uploads/2016/02/Juinior-doctor-.jpg", :alt => "Health Chain") %>
                        <div class="visit-info">
                            <p><strong>Name: </strong>Dr. Islam Reda</p>
                            <p><strong>Type: </strong>Private Docotr</p>
                        </div>
                        <div class="visit-details">
                        <p><strong>Visit Details:</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit tion ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                        </div>
                        <div class="visit-date">
                            20 / 2 / 2018
                            <i class="zmdi zmdi-circle"></i>
                        </div>
                    </div>
                    
                    
                    <div class="single-visit">
                        <%= image_tag("https://dermamedical.co.uk/wp-content/uploads/2016/02/Juinior-doctor-.jpg", :alt => "Health Chain") %>
                        <div class="visit-info">
                            <p><strong>Name: </strong>Dr. Islam Reda</p>
                            <p><strong>Type: </strong>Private Docotr</p>
                        </div>
                        <div class="visit-details">
                        <p><strong>Visit Details:</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit tion ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
                        </div>
                        <div class="visit-date">
                            22 / 2 / 2018
                            <i class="zmdi zmdi-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:none;">
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %><br /><br />
        This is the dashboard
        </div>
    </div>
    
</div>


<script>
    let navLinks = document.querySelectorAll('.dash-nav a');
    let allSections = document.querySelectorAll('.dash-sections .dash-section');
    for(let i = 0; i< navLinks.length ; i++){
        navLinks[i].addEventListener('click', (e)=>{
            e.preventDefault();
            // console.log(e);
            let id = e.target.hash;
            let activeDiv = document.getElementById(id.slice(1));
            for(let j=0 ; j< allSections.length; j++){
                allSections[j].classList.remove('active');
            }
            for(let k=0 ; k< navLinks.length; k++){
                navLinks[k].classList.remove('active');
            }
            activeDiv.classList += " active";
            e.target.classList += " active";
        })
    }
</script>