<div class="page profile-settings">
<div class="profile-picture">
  <%= image_tag("http://kokannow.com/wp-content/uploads/2017/12/riktpde_malvan.jpg", :alt => "John Doe") %>
  <p class="txt-lvl-3 heading-font txt-center"></p>
  <div class="profile-picture-clip">
    <%= image_tag("profile-clip.png", :alt => "John Doe") %>
  </div>
</div>
<div class="container-sm">
<h2 class="section-title m-t-5">Add New patient</h2>

<div class="">
    <%= form_for(@patient , url: "/dashboard/add_patient") do |f| %>
        
        <div class="field form-group">
            <%= f.label :National_ID, class:"default-label" %>
            <%= f.text_field :id, autofocus: true, autocomplete: "off", placeholder: "", class: "default-input", required: true %> 
        </div>
        
        <div class="field form-group">
            <%= f.label :first_name, class:"default-label" %>
            <%= f.text_field :fname, autofocus: true, autocomplete: "off", placeholder: "", class: "default-input", required: true %> 
        </div>
        
        <div class="field form-group">
            <%= f.label :last_name, class:"default-label" %>
            <%= f.text_field :lname, autofocus: true, autocomplete: "off", placeholder: "", class: "default-input", required: true %> 
        </div>
        
        <div class="field form-group">
            <%= f.label :age, class:"default-label" %>
            <%= f.number_field :age, autofocus: true, autocomplete: "off", placeholder: "", class: "default-input", required: true %> 
        </div>
        
        <div class="field form-group default-select-container">
            <%= f.label :gender, class:"default-label" %>
            <%= f.select :gender, [["Male", "male"], ["Female", "female"]], class: "default-input", required: true %> 
        </div>
        
        <div class="field form-group">
            <%= f.label :phone_number, class:"default-label" %>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "off", placeholder: "", class: "default-input", required: true %> 
        </div>
        
        
        <div class="field form-group">
            <%= f.label :city, class:"default-label" %>
            <%= f.text_field :city, autofocus: true, autocomplete: "off", placeholder: "", class: "default-input", required: true %> 
        </div>
        
        <div class="field form-group">
            <%= f.label :street, class:"default-label" %>
            <%= f.text_field :street, autofocus: true, autocomplete: "off", placeholder: "", class: "default-input", required: true %> 
        </div>

        <p class="pd-t-2 kinda-white txt-lvl-2 txt-center txt-font" style="display:none">Password should be at least 6 character</p>
        <div class="actions">
            <%= f.submit "Add Patient", class:"default-btn btn-right" %>
        </div>
    <% end %>
</div>


<div class="inline-block" style="padding-top: 100px;">
  <br><br><br>
</div>

