<div class="login-form">
    <%= form_for(@doctor , url: "/users") do |f| %>
        
        <div class="field">
            <i class="zmdi zmdi-email"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "Email Address", autocomplete: "off" %>
        </div>

        <div class="field">
            <i class="zmdi zmdi-lock"></i>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <div class="field">
            <i class="zmdi zmdi-lock"></i>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
        </div>
        <p class="pd-t-2 kinda-white txt-lvl-2 txt-center txt-font">Password should be at least 6 character</p>
        <div class="actions">
            <%= f.submit "Add doctor" %>
        </div>
    <% end %>
</div>