<div class="page profile-settings">
<div class="profile-picture">
  <%= image_tag("pp.jpg", :alt => "John Doe") %>
  <p class="txt-lvl-3 heading-font txt-center">John Doe</p>
  <div class="profile-picture-clip">
    <%= image_tag("profile-clip.png", :alt => "John Doe") %>
  </div>
</div>
<div class="container-sm">
<h2 class="section-title m-t-5">Profile Settings</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :current_password, class:"default-label" %> 
    <%= f.password_field :current_password, autocomplete: "false" , class: "default-input" %>
  </div>
  
  <div class="field form-group">
    <%= f.label "New password" , class:"default-label" %>
    <%= f.password_field :password, autocomplete: "false", class: "default-input" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, class:"default-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "false" , class: "default-input" %>
  </div>

  <%= f.submit "Update" ,class:"default-btn btn-right" %>
  
<% end %>

<%= button_to "cancel", "/",class:"default-btn btn-right", method: :get %>